body{
 -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
p.footer{
  color: white;
  font-size: 10px;
  padding-top: 20px;
}
header.head{
  width: 100%;
  min-height: 700px;
 background-image: url(../foto/bg-cta.jpg);
 background-size: cover;
 overflow: hidden;
}

section{
  width: 100%;
  min-height: 700px;
  margin-top: 0px;
}

section.about{
  padding-top: 50px;
  background-color: rgb(209, 36, 36);
}

section.sejarah{
  padding-top: 50px;
  background-color: #8585E9;
}
section.galeri{
  padding-top: 50px;
  background-color: #E63D9F;
}
.footer{
  background-color: #343a40;
}
img.footer.copy{
  padding-top: 15px;
}
img.footer.gambar{
  padding: 0px;
}
h1{
  padding-left: 10px;
}
